---
import ChatInterface from '../components/ChatInterface';
import { ProtectedRoute } from '../components/ProtectedRoute';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>HomeBuild AI Assistant</title>
	</head>
	<body>
		<ProtectedRoute client:load>
			<ChatInterface client:load />
		</ProtectedRoute>
	</body>
</html>
