---
import { AuthForm } from '../components/AuthForm';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Create a new House Building Assistant account" />
    <title>Sign Up - House Building Assistant</title>
  </head>
  <body>
    <AuthForm client:load mode="signup" />
  </body>
</html>
